<h1><%= @computer_stores.name %></h1>
<p>Location: <%= @computer_stores.location %></p>
<p>Repairs: <%= @computer_stores.repairs %></p>
<p>Store Rank: <%= @computer_stores.rank %></p>
<a href="/computerstores">Back</a>